<html>
<head>
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Noticia Text' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<style>
	@font-face {
    font-family: palatino;
    src:
       url('../POBI___R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
img:hover
{
   transform: scale(1.05,1.05);
}
.verylarge
{ font-size: 70;
  font-family: palatino;
  
}

	.optsize
	{	font-size:1.3em;
		 padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
	}
	.ifont
	{
	font-size: 30;
	font-family: 'Abel';
	font-style: italic;
	}

	.margin
	{
		margin-left: 150px;
	}
	.noticia
	{	font-family: 'Noticia Text';
		font-style: italic;		
	}
	.change
	{	height: 100px;
	}
.news {
  background-color: rgba(0,0,0,0);
}
.news-thumb3 {
  background-color: rgb(0,0,0);
}
.vverylarge
{	font-size: 50;
	
	
}
.large
{	font-size: 30;
	font-family: 'Abel';
}
.highlight
{	background-color: #ffffff
}
h1 {
    border: 5px solid black;
}
</style>
<body>
  <!-- NAVBAR-->
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                       
      </button>
      <a class="navbar-brand" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Bio&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/bio">Bio</a></li>
                <li><a href="/gharana">Gharana</a></li>
             </ul>
        </li>
        <li class="active"><a href="/events">Events and Tours</a></li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Music&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/band">Band</a></li>
                <li><a href="/video">Video</a></li>
                <li><a href="/discography">Discography</a></li>
             </ul>
        </li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/playing-with-stalwarts">Playing with Stalwarts</a></li>
                <li><a href="/photos">Photos</a></li>
             </ul>
        </li>
        <li><a href="/tours">Tours</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/sohini-sangeet-academy">Sohini Sangeet Academy</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-facebook-square" style="font-size:20px"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" style="font-size:20px"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<!--end navbar-->

<br><br>
<div class="container">

				<div class="verylarge container" style="padding-bottom: 0px;">
          <center><font color="#291405">Events and Tours</font></center>
        </div>
		
<br><br>

	<div class="row">
		<div class="col-md-2 col-xs-12 col-sm-12">
			<img src="Events-tours/3.jpg" class="img-responsive" alt="" style="border: 5px;border-style: solid;border-color: black;height: 250px; width: 208px;" data-toggle="modal" data-target="#myModal1">
							<div id="myModal1" class="modal fade" tabindex="-1" role="dialog">
			  					<div class="modal-dialog">
			    					<div class="modal-content">
			        					<div class="modal-body">
			            					<img src="Events-tours/3.jpg" class="img-responsive">
			        					</div>
			    					</div>
			  					</div>
							</div>
    	 </div>
    	<div class="col-md-4 col-xs-12 col-sm-12 news-thumb">
			<font color="#291405">
				<div class="optsize">
					<b><i>Musical  Awakening of Indian Jazz</i></b><br><small>presented by Sahana</small><br><br>
					<i class="fa fa-map-marker" style="font-size:24px;color: #291405;"></i>&emsp;Three Stages/Harris Centre,<br>10 College Parkway,<br>Folsom,<br>CA 95630.<br><br>
					<i class="fa fa-calendar" style="font-size:24px;color: #291405"></i>&emsp;September 14,2013<br><br>
				</div>
			</font>
	 	</div>
	 <div class="col-md-2 col-xs-12 col-sm-12">
			<img src="Events-tours/6.jpg" class="img-responsive" alt="" style="border: 5px;border-style: solid;border-color: black;height: 250px; width: 208px;" data-toggle="modal" data-target="#myModal2">
							<div id="myModal2" class="modal fade" tabindex="-1" role="dialog">
			  					<div class="modal-dialog">
			    					<div class="modal-content">
			        					<div class="modal-body">
			            					<img src="Events-tours/6.jpg" class="img-responsive">
			        					</div>
			    					</div>
			  					</div>
							</div>
    	 </div>
    	<div class="col-md-4 col-xs-12 col-sm-12 news-thumb">
			<font color="#291405">
				<div class="optsize">
					<b><i>Moods of Raaga and Rhythm</i></b><br><small>presented by Sohini sangeet Academy & Chhandam School of Kathak</small><br><br>
					<i class="fa fa-map-marker" style="font-size:24px;color: #291405;"></i>&emsp;Capistrano Music Recital Hall,<br>Sacremento State University,<br>6000 J street,<br>Sacramento CA 95819<br><br>
					<i class="fa fa-calendar" style="font-size:24px;color: #291405"></i>&emsp;September 16,2012<br><br>
				</div>
			</font>
	 	</div>
	</div>
<br><br>






	<div class="row">
		<div class="col-md-2 col-xs-12 col-sm-12">
			<img src="Events-tours/5.jpg" class="img-responsive" alt="" style="border: 5px;border-style: solid;border-color: black;height: 250px; width: 208px;" data-toggle="modal" data-target="#myModal3">
				<div id="myModal3" class="modal fade" tabindex="-1" role="dialog">
  					<div class="modal-dialog">
    					<div class="modal-content">
        					<div class="modal-body">
            					<img src="Events-tours/5.jpg" class="img-responsive">
        					</div>
    					</div>
  					</div>
				</div>
    	 </div>
    	<div class="col-md-4 col-xs-12 col-sm-12 news-thumb">
			<font color="#291405">
				<div class="optsize">
					<b><i>Indo Latin Jazz and Hindustani CLassical</i></b><br><small>presented by Sohini sangeet Academy</small><br><br>
					<i class="fa fa-map-marker" style="font-size:24px;color: #291405;"></i>&emsp;24th Street Theatre,<br>2791 24th street,<br>Sacramento CA 95818<br><br>
					<i class="fa fa-calendar" style="font-size:24px;color: #291405"></i>&emsp;August 26,2012<br><br>
				</div>
			</font>
	 	</div>
	 	<div class="col-md-2 col-xs-12 col-sm-12">
			<img src="Events-tours/7.jpg" class="img-responsive" alt="" style="border: 5px;border-style: solid;border-color: black;height: 250px; width: 208px;" data-toggle="modal" data-target="#myModal4">
							<div id="myModal4" class="modal fade" tabindex="-1" role="dialog">
			  					<div class="modal-dialog">
			    					<div class="modal-content">
			        					<div class="modal-body">
			            					<img src="Events-tours/7.jpg" class="img-responsive">
			        					</div>
			    					</div>
			  					</div>
							</div>
    	 </div>
    	<div class="col-md-4 col-xs-12 col-sm-12 news-thumb">
			<font color="#291405">
				<div class="optsize">
					<b><i>Concert Series - A Hindustani CLassical Music Program</i></b><br><small>presented by Sohini sangeet Academy</small><br><br>
					<i class="fa fa-map-marker" style="font-size:24px;color: #291405;"></i>&emsp;196,Blue Ravine Road,<br>CA 95630<br><br>
					<i class="fa fa-calendar" style="font-size:24px;color: #291405"></i>&emsp;June 16,2012<br><br>
				</div>
			</font>
	 	</div>

		
	 	

	</div>
<br><br>
	
	
	<div class="row">
		<div class="col-md-2 col-xs-12 col-sm-12">
			<img src="Events-tours/4.jpg" class="img-responsive" alt="" style="border: 5px;border-style: solid;border-color: black;height: 250px; width: 208px;" data-toggle="modal" data-target="#myModal5">
							<div id="myModal5" class="modal fade" tabindex="-1" role="dialog">
			  					<div class="modal-dialog">
			    					<div class="modal-content">
			        					<div class="modal-body">
			            					<img src="Events-tours/4.jpg" class="img-responsive">
			        					</div>
			    					</div>
			  					</div>
							</div>
    	 </div>
    	<div class="col-md-4 col-xs-12 col-sm-12 news-thumb">
			<font color="#291405">
				<div class="optsize">
					<b><i>Hindustani Classical Music Concert</i></b><br><br>
					<i class="fa fa-map-marker" style="font-size:24px;color: #291405;"></i>&emsp;1337,Mission Avenue,<br>Carmichael,<br>California-95608<br><br>
					<i class="fa fa-calendar" style="font-size:24px;color: #291405"></i>&emsp;February 11,2012<br><br>
				</div>
			</font>
	 	</div>
	</div>
<br><br>s