<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Noticia Text' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  
</head>
<style>
  @font-face {
    font-family: palatino;
    src:
       url('POBI___R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

	.margin
	{
		margin-left: 150px;
	}
	.noticia
	{	font-family: 'Noticia Text';
		font-style: italic;
		
	}
	.change
	{	height: 100px;
	}
.news {
  background-color: rgba(0,0,0,0);
}
.news-thumb {
  background-color: rgba(0,0,0,0.8);
}
.news-thumb2 {
  background-color: rgba(255,255,255,0.8);
}
.news-thumb3 {
  background-color: rgb(0,0,0);
}
.verylarge
{	font-size: 70;
  font-family: palatino;
	
}
.large
{	font-size: 30;
	font-family: 'Abel';
	font-weight: bold;
  color: #8B4513;
}
.rightalign
{	float: right;
}
audio
{	width: 100%;
}
.full
{
	width: 100%;	
}
.small
{	font-size:25;
}
@media (max-width: 7px) { /* use the max to specify at each container level */
    table {    
        width:6px;  /* adjust to desired wrapping */
        display:table;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}






</style>
<body>
<!-- NAVBAR-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                       
      </button>
      <a class="navbar-brand" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Bio&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/bio">Bio</a></li>
                <li><a href="/gharana">Gharana</a></li>
             </ul>
        </li>
       <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/upcoming_events">Upcoming Events</a></li>
                <li><a href="/past_events">Past Events</a></li>
             </ul>
        </li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Music&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/band">Band</a></li>
                <li><a href="/video">Video</a></li>
                <li><a href="/discography">Discography</a></li>
             </ul>
        </li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/playing-with-stalwarts">Playing with Stalwarts</a></li>
                <li><a href="/photos">Photos</a></li>
             </ul>
        </li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/sohini-sangeet-academy">Sohini Sangeet Academy</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
   
    </div>
  </div>
</nav>

<!--end navbar-->
<div class="container">
	<br>

				<div class="verylarge">
					<font color="#291405">Pandit Binay Pathak</font>
				</div>
			
	<br>
	<br><br>
<div class="container">
<div class="row">
  <div class="col-md-2">
    <img class="img-responsive" src="pt.jpg" width="250" height="250">
  </div>
  <div class="col-md-10">
  <span class="noticia" style="color: #291405;font-size: 15"><b>
                Binay Pathak has established himself as a music director in films and television by composing music in Television serials, Bandish and Kabhi-Yeh-Kabhi-Woh, whose title songs were composed and sung under the direction of Pt. Binay, He composed the music for Mangalsutra (Hindi TV serial) where Ustad Ghulam Mustafa sang Pt. Pathak’s composition, and Teen Bandhu (Bengali TV serial).<br><br><br>
       </b>
       </span>
  </div>
  </div>
</div>
	
</div>
</body>
</html>