<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Noticia Text' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
	body
	{	background-image: url("mainbg.jpg");
    	background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-origin: content-box;
    	background-size: 100% 100%;
	}
	.margin
	{
		margin-left: 150px;
	}
	.noticia
	{	font-family: 'Noticia Text';
		font-style: italic;
		
	}
	.change
	{	height: 100px;
	}
.news {
  background-color: rgba(0,0,0,0);
}
.news-thumb {
  background-color: rgba(0,0,0,0.8);
}
.news-thumb2 {
  background-color: rgba(255,255,255,0.8);
}
.news-thumb3 {
  background-color: rgb(0,0,0);
}
.verylarge
{	font-size: 70;
	
}
.large
{	font-size: 30;
	font-family: 'Abel';
	font-weight: bold;
}
.rightalign
{	float: right;
}
audio
{	width: 100%;
}
.full
{
	width: 100%;	
}
.small
{	font-size:30;
}
@media (max-width: 7px) { /* use the max to specify at each container level */
    table {    
        width:6px;  /* adjust to desired wrapping */
        display:table;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}

</style>
<body>
<!-- NAVBAR-->
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                       
      </button>
      <a class="navbar-brand" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bio</a>
            <ul class="dropdown-menu">
              <li><a href="/bio">Bio</a></li>
                <li><a href="/gharana">Gharana</a></li>
             </ul>
        </li>
        <li><a href="#">Events</a></li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Music</a>
            <ul class="dropdown-menu">
              <li><a href="/band">Band</a></li>
                <li><a href="/video">Video</a></li>
                <li><a href="/discography">Discography</a></li>
             </ul>
        </li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery</a>
            <ul class="dropdown-menu">
              <li><a href="/playing-with-stalwarts">Playing with Stalwarts</a></li>
                <li><a href="#">Photos</a></li>
             </ul>
        </li>
        <li><a href="#">Shows and Tours</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/sohini-sangeet-academy">Sohini Sangeet Academy</a></li>
        <li><a href="#">News</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-facebook-square" style="font-size:20px"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" style="font-size:20px"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<!--end navbar-->
<div class="container">
	<br><br><br><br><br>

				<div class="verylarge">
					<font color="#9B903F">PANDIT BINAY PATHAK</font>
				</div>
				<div class="noticia small">
					Sangeet Suromani Guru
				</div>
			<br><br><br><br><br>
	
	
	<div class="row">
	  <div class="col-md-1 col-xs-1 col-sm-1"></div>
      <div class="col-md-7 col-xs-10 col-sm-8">
        <div class="row"> 
            <div class="news-thumb col-lg-9"> 
           		<font color="white">
           			<div class="large">
           				UPCOMING SHOWS
           			</div>
           			CONCERT ITINERARY 2017-2018<br>
           			<font size=12 color="#BCB269">__</font><br>
           			<div class="row">
           				<div class="col-md-3 col-xs-3 col-sm-3">
           					<font color="white">September 29&nbsp&nbsp</font>
           				</div>
           				<div class="col-md-9 col-xs-9 col-sm-9">
           							<div class="container">
           							<font color="white">
           							Pt. Binay Pathak, <br>
                  			        GYANI Indo Jazz Ensemble, <br>
                         	    	Gyaniindojazz.com,<br>
                      		   		Sacramento State University World Music Series,<br>
                          			Capistrano Concert Hall,<br>
                          			8:00 p.m,<br>
                          			6000 J Street,<br> 
                          			Sacramento, California,<br> 
                      				</font>     
                      				</div>
                      	</div>
                    </div>       		
                	<br><br>
                </font>
            </div>
        </div>
      </div>
     <div class="col-md-4 col-xs-1 col-sm-3"></div>
	</div>

<div class="row">
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div class="col-md-7 col-xs-10 col-sm-8">
        <div class="row"> 
            
            <div class="news-thumb2 col-lg-9"> 
            	<br><br>
           			<div class="large">
           				LATEST NEWS
           			</div>
           			Binay pathak as music director<br>
           			<font size=12 color="#BCB269">__</font><br>
           			<span class="noticia">
           			Binay Pathak has established himself as a music director<br> in films and television by composing music in Television serials, Bandish and Kabhi-Yeh-Kabhi-Woh, whose title songs were composed and sung under the direction of Pt. Binay, He composed the music for Mangalsutra (Hindi TV serial) where Ustad Ghulam Mustafa sang Pt. Pathak’s composition, and Teen Bandhu (Bengali TV serial).<br><br><br>
           		</span>
            </div>
        </div>
    </div> 

</div>
<br>
	<div class="row">
	  <div class="col-md-1 col-xs-1 col-sm-1"></div>
      <div class="col-md-7 col-xs-10 col-sm-8">
        <div class="row"> 
            
            <div class="news-thumb3 col-lg-9"> 
           		<font color="white">
           			<br>Buy Single $3.99
           			<span class="rightalign">Share Single</span><br><br>
           			
           				<img src="music.jpg" class="img-responsive">
           				<audio controls>
           					<source src="Bad-Eyes.mp3" type="audio/mpeg">
           				</audio>
           		</font>
           		<br><br> 
            </div>
        </div>
      </div>
    <div class="col-md-4 col-xs-1 col-sm-3"></div>
	</div>
	<br><br>
	<div class="row">
	  <div class="col-md-1 col-xs-1 col-sm-1"></div>
      <div class="col-md-7 col-xs-10 col-sm-8">
        <div class="row"> 
            
            <div class="col-lg-9"> 
           			<h3 class="noticia">Subscribe for updates</h3>
           			<form name=subscribe>
           				<div class="form-group">
           				    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
           				    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          				</div>
          				<button type="button" class="btn btn-primary full">Subscribe now</button>
          			</form>

            </div>
        </div>
      </div>
    <div class="col-md-4 col-xs-1 col-sm-3"></div>   
	</div>
	<h5>© 2017 by Pandit Binay Pathak.</h5>
	<br><br>

</div>
</body>
</html>