<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Noticia Text' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>

  	 body {
      	    background-image: url(mainbg.jpg);
      	    background-attachment: fixed;
      	    background-repeat: no-repeat;
      	    background-size :100% 100%;
            padding-bottom: 3rem;
           	color: #291405;
           }
	
	img:hover{
    transform: scale(1.07,1.07);
    }
	
	.caption
	{
		padding-top: 50px;
	
		font-size: 1.5em;
	}
	.caption:hover{
    transform: scale(1.02,1.02);

    }
    
@font-face {
    font-family: palatino;
    src:
       url('../POBI___R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
.verylarge
{ font-size: 4em;
  font-family: palatino;
  
}
	</style>
	
  </head>
  <body>
  	<!-- NAVBAR-->
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                       
      </button>
      <a class="navbar-brand" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bio</a>
            <ul class="dropdown-menu">
              <li><a href="/bio">Bio</a></li>
                <li><a href="/gharana">Gharana</a></li>
             </ul>
        </li>
        <li><a href="#">Events</a></li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Music</a>
            <ul class="dropdown-menu">
              <li><a href="/band">Band</a></li>
                <li><a href="/video">Video</a></li>
                <li><a href="/discography">Discography</a></li>
             </ul>
        </li>
        <li class="active dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery</a>
            <ul class="dropdown-menu">
              <li class="active"><a href="/playing-with-stalwarts">Playing with Stalwarts</a></li>
                <li><a href="#">Photos</a></li>
             </ul>
        </li>
        <li><a href="#">Shows and Tours</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/sohini-sangeet-academy">Sohini Sangeet Academy</a></li>
        <li><a href="#">News</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-facebook-square" style="font-size:20px"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" style="font-size:20px"></i></a></li>
      </ul>
    </div>
  </div>
</nav>


<!--end navbar-->
	<div class="container">
	<br>
		<div class="verylarge container" style="padding-bottom: 0px;">
          <center><font color="#291405" style="font-size: 70">Pandit Binay Pathak <br>and Stalwarts on Hindustani Classical</font></center>
        </div>	</br></br>
    </div>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-6">
			<img class="img-thumbnail responsive" src="music1.jpg" alt="Pt. Bhimsen Joshi  accompanied on harmonium by Pt. Binay Pathak.  The Dover Lane Conference ~ 1980" width="700" height="600">
		</div>
		<div class="col-sm-4">
			<div class="row caption">
				<div class="container-fluid">
					<center>Pt. Bhimsen Joshi  accompanied on harmonium by Pt. Binay Pathak. The Dover Lane Conference ~ 1980</center>
				</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
	
	</br></br>
	
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-4">
			<div class="row caption">
				<center>Pt. Binay Pathak on harmonium with Pt. Jasraj. The Dover Lane Conference</center>
			</div>
		</div>
		<div class="col-sm-6">
			<img class="img-thumbnail responsive" src="music2.jpg" alt="Pt. Binay Pathak on harmonium with Pt. Jasraj.  The Dover Lane Conference" width="700" height="600">
		</div>
		<div class="col-sm-1"></div>
	</div>
	
	</br></br>
	
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-6">
			<img class="img-thumbnail responsive" src="music3.jpg" alt="Pt. Rajan & Sajan Misra with Pt. Binay Pathak on harmonium at The Dover Lane Music Conference" width="700" height="600">
		</div>
		<div class="col-sm-4">
			<div class="row caption">
				<center>Pt. Rajan & Sajan Misra with Pt. Binay Pathak on harmonium at The Dover Lane Music Conference</center>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
	
	</br></br>
	
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-4">
			<div class="row caption">
				<center>Pt. Binay accompanying Ust AllaRakha<br> & Fazal Quereshi</center>
			</div>
		</div>
		<div class="col-sm-6">
			<img class="img-thumbnail responsive" src="music4.jpg" alt="Pt Binay accompanying Ust AllaRakha & Fazal Quereshi" width="700" height="600">
		</div>
		<div class="col-sm-1"></div>
	</div>
	</br></br>
	
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-6">
			<img class="img-thumbnail responsive" src="music5.jpg" alt="With Smt. Giriji Devi" width="700" height="600">
		</div>
		<div class="col-sm-4">
			<div class="row caption">
				<center>With Smt. Giriji Devi</center>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
	
	</br></br>
	
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-4">
			<div class="row caption">
				<center>With Ustad Zakir Hussain</center>
			</div>
		</div>
		<div class="col-sm-6">
			<img class="img-thumbnail responsive" src="music6c.jpg" alt="With Ustad Zakir Hussain" width="700" height="600">
		</div>
		<div class="col-sm-1"></div>
	</div>
	</br></br>
	
  </body>
  </html>