<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Noticia Text' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  </head>
  <style>
  @font-face {
    font-family: palatino;
    src:
       url('../POBI___R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
img:hover
{
   transform: scale(1.1,1.1);
}
.verylarge
{ font-size: 70;
  font-family: palatino;
  
}
 body
  {   background-image: url("mainbg.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-origin: content-box;
      background-size: 100% 100%;
      color: #291405;
  }
   .margin
  {
    margin-left: 150px;
  }
  .noticia
  { font-family: 'Noticia Text';
    font-style: italic;
  }
  .normal
  {
    font-style: normal;
  }
    .newfont
    {
        font-style: italic;
        font-size: 1.5em;
    }
  
  .change
  { height: 100px;
  }
.news {
  background-color: rgba(0,0,0,0);
}
.news-thumb {
  padding-top: 10px;
  padding-bottom: 10px;
}
.news-thumb1{
    margin-top: 20px;
}
.news-thumb2 {
  background-color: rgba(255,255,255,0.8);
}
.news-thumb3 {
  background-color: rgb(0,0,0);
}
.verylarge
{ font-size: 70;
  
}
.large
{ font-size: 30;
  font-family: '"Gill Sans", sans-serif;';
  font-weight: bold;
  color: #8B4513;
}
.highlight
{ background-color: #ffffff;
}
.rightalign
{ float: right;
}
audio
{ width: 100%;
}
.full
{
  width: 100%;  
}
.small
{ font-size:30;
}
@media (max-width: 7px) { /* use the max to specify at each container level */
    table {    
        width:6px;  /* adjust to desired wrapping */
        display:table;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}
</style>
<body>
<!-- NAVBAR-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                       
      </button>
      <a class="navbar-brand" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Bio&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/bio">Bio</a></li>
                <li><a href="/gharana">Gharana</a></li>
             </ul>
        </li>
        <li><a href="/events">Events and Tours</a></li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Music&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/band">Band</a></li>
                <li><a href="/video">Video</a></li>
                <li><a href="/discography">Discography</a></li>
             </ul>
        </li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/playing-with-stalwarts">Playing with Stalwarts</a></li>
                <li><a href="/photos">Photos</a></li>
             </ul>
        </li>
        <li><a href="/tours">Tours</a></li>
        <li class="active"><a href="/project">Projects</a></li>
        <li><a href="/sohini-sangeet-academy">Sohini Sangeet Academy</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-facebook-square" style="font-size:20px"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" style="font-size:20px"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<!--end navbar-->


<br><br>
<div class="container"><center>
  <div class="verylarge container" style="padding-bottom: 0px;">
          <font color="#291405">Music and Albums</font>
        </div>          <div class="noticia small">
              <font color="white">A loud voice for millions of silent hearts.</font>
            </div>
</center>
    <br>
    <br>
    

  
<div class="row">
    <div class="col-md-6 col-xs-10 col-sm-10">
      <div class="large"><center>Hindi</center></div>
                                    </font>

                                                                  <div class="newfont">
                                                                   <font>
                                                                                <dl>
                                                                                  <dt>1.Gaanth</dt>
                                                                                    <dd>Received award for Best Music Direction in Delhi.</dd>
                                                                                  <dt>2.Bandish</dt>
                                                                                    <dd>Music direction for TV Serial.</dd>
                                                                                  <dt>3.Kabhi Yeh Kabhi Woh</dt>
                                                                                    <dd>Singer Udit Narayan and Kavita Krishnamurti</dd>
                                                                                  <dt>4.Mangalsutra</dt>
                                                                                    <dd>Singer Ustad Ghulam Mustafa Khan, Antara Choudhury,Shubha Joshi</dd>
                                                                                                                    
                                                                                </dl>
                                                                    </font>
                                                                  </div>
                              
    </div>
    <div class="col-md-6 col-xs-10 col-sm-10">
      <font size="8">
                                    <div class="large"><center>Shab-e-Ghazal Album</center></div>
                                    </font>
                                
       <div class="row container-fluid">
                                                
                                                  <div class="col-md-9">
                                            

                                                            <div class="row">
                                                                
                                                                  <div class="newfont">
                                                                   <font>
                                                                                <dl>
                                                                                 
                                                                                    <dd>In 2012 Binay Pathak  composed all songs and  gave music direction for Sri Mahakaleshwar Chalisa album released by Times Music of India. The album features rising Bollywood playback singer, Hamsika Iyer as well as Ravindra Sathe and Shailendra Bharti. All verses composed byVindhyeshwari Prasad Mishra.<br></dd>
                                                                                 
                                                                                                                    
                                                                                </dl>
                                                                    </font>
                                                                  </div>
                                                            </div>
                                                
                                                    </div>
                                                      <div class="col-md-3">
                                                  <img src = "shabeghazal.jpg" alt = "Shab-e-Ghazal" align = "center" class="img-responsive"/>
                                                  </div>
                                                    </div>


    </div>
</div>
               
                  
                                
<br>
<div class="row">
  <div class="col-md-6">
     <font size="8">
     <div class="large"><center>Marathi</center></div>
     </font>
     <div class="newfont">
           <dl>
              <dt>Swami Chakradhar Swami </dt>
              <dd>Music Direction for Marathi serial along with Antara Chowdhury Shubha Joshi</dd>  
          </dl>
     </div>                                  
  </div>
 
  <div class="col-md-6">
     <font size="8">
     <div class="large"><center>Rajasthani</center></div>
     </font>
     <div class="newfont">
           <dl>
              <dt>Kanhaiya</dt>
              <dd>A Beautiful film covered by Leading Mumbai singers, Shaan, Sadhana Sargam and Hamsika Iyer of Chamakchalo fame from Ra-One film. Renowned music director, Ravindra Jain also sings in this film.
              </dd>  
          </dl>
     </div>                                  
  </div>
 
</div>
<div class="row">
    <div class="col-md-1 col-xs-1 col-sm-1"></div>
    <div class="col-md-10 col-xs-10 col-sm-10">
                <div class="news-thumb1 col-lg-11"> 
                  

                                  <div class="row">
                                  <font size="8">
                                    <div class="large"><center>Bengali</center></div>
                                    </font>
                                  </div>


                                  <div class="row">
                                                  <div class="col-md-4 col-xs-12 col-sm-4">
                                                   <img src = "putulerkhanna.jpg"  alt = "Putuler-Khanna" align = "center" class="img-responsive"/></div>
                                                  <div class="col-md-7 col-xs-11 col-sm-7">
                                            

                                                            <div class="row">
                                                                
                                                                  <div class="newfont">
                                                                  
                                                                   <font>
                                                                                <dl>
                                                                                  <dt>1.Putuler Kanna</dt>
                                                                                    <dd>Music Direction for Bengali film. Singer Mohammed Aziz and Film Director Mukkul Dutta </dd>
                                                                                  <dt>2.Rangin Basanta feature film</dt>
                                                                                    <dd>Ustad Ghulam Ali, the eminent Pakistani ghazal singer sang for the first time in a Bengali film under Pt. Pathak’s direction . Singers Aarati Mukherjee, Haimanti Shukla, Saikat Maitra, Indrani Sen. .</dd>
                                                                                  <dt>3.Teen Bandhu</dt>
                                                                                    <dd>Bengali TV serial,covered by Singer Indrani Sen </dd>
                                                                                  
                                                                                                                    
                                                                                </dl>
                                                                    </font>
                                                                  </div>
                                                            </div>
                                                
                                                    </div>
                                                    </div>
                                    </div>  
                   </div>
        </div>
      <br>
      
<div class="row">
    <div class="col-md-1 col-xs-1 col-sm-1"></div>
    <div class="col-md-10 col-xs-10 col-sm-10">
                <div class="news-thumb1 col-lg-11"> 
                  

                                  <div class="row">
                                  <font size="8">
                                    <div class="large"><center>CD Bhajan Album</center></div>
                                    </font>
                                  </div>


                                  <div class="row">
                                                  <div class="col-md-4 col-xs-12 col-sm-4">
                                                  <img src = "bhajanpic.jpg" alt = "Bhajan Cover" align = "center" class="img-responsive"/>
                                                  </div>
                                                  <div class="col-md-7 col-xs-12 col-sm-7">
                                            

                                                            <div class="row">
                                                                
                                                                  <div class="newfont">
                                                                  
                                                                   <font>
                                                                                <dl>
                                                                                    <dt>Sri Mahakaleshwar Chalisa</dt>
                                                                                    <dd>Under the Banners of HMV:RPG. Music director is  Pt. Hariprasad Chaurasia. Binay Pathak is a music arranger in this album.  Singers Devaki Panditt,  Pranab Pattanaik Orrisa.<br>
                                                                                    <br>
                                                                                    <br></dd>
                                                                                 
                                                                                                                    
                                                                                </dl>
                                                                    </font>
                                                                  </div>
                                                            </div>
                                                
                                                    </div>
                                                    </div>
                                    </div>  
                   </div>
     </div>

 <br>

<div class="container">
  <div id="video1">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center><h2>Kabhi Yen Kabhi Who</h2></center>
            <div class="embed-responsive embed-responsive-16by9">
               <iframe src="https://www.youtube.com/embed/v8yx1Tt2oAA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-3"></div>
      </div>

  

  <br><br> 
</div>
</body>
</html>
