<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Noticia Text' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<style>
 
 .news-thumb {
           
              padding-top: 15px;
             padding-bottom: 15px;
              padding-left: 5px;
             padding-right: 5px;
             margin-bottom: 30px;
       }
       .noticia
  { font-family: 'Noticia Text';
    font-style: italic;
    
  }
  .highlight
{ background-color: #ffffff;
}

  @font-face {
    font-family: palatino;
    src:
       url('../POBI___R.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
.verylarge
{ font-size: 70;
  font-family: palatino;
  
}
.img-thumb
{
  height: 80px;
  padding-bottom: 10px;
}

.small
{ font-size:30;
}
table
{
  cursor: pointer;
}
.scrolling
{
  overflow-y: scroll;
  height: 500px;
}
</style>
<body>
  <!-- NAVBAR-->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                       
      </button>
      <a class="navbar-brand" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Bio&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/bio">Bio</a></li>
                <li><a href="/gharana">Gharana</a></li>
             </ul>
        </li>
        <li><a href="/events">Events</a></li>
        <li class="dropdown dropdown-submenu active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Music&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/band">Band</a></li>
                <li class="active"><a href="/video">Video</a></li>
                <li><a href="/discography">Discography</a></li>
             </ul>
        </li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/playing-with-stalwarts">Playing with Stalwarts</a></li>
                <li><a href="/photos">Photos</a></li>
             </ul>
        </li>
        <li><a href="/tours">Tours</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/sohini-sangeet-academy">Sohini Sangeet Academy</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
     
    </div>
  </div>
</nav>

<!--end navbar-->

<div class="container">

       
      <!--  <div class="verylarge container" style="padding-bottom: 0px;">
          <center><font color="#291405">Videos</font></center>
        </div>
        -->
    
  <div class="row">
  <div  class="col-md-8">
    <div id="video1">
      <h2>Raag Music to perform at a festival</h2>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MIol6Y9MF4o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div id="video2">
      <h2>Harmonium Solo, Pt.Binay Pathak</h2>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe width="400" height="344" src="https://www.youtube.com/embed/ZcULIFAXYVM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div id="video3">
      <h2>Binay Pathak at Chicago</h2>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe width="400" height="344" src="https://www.youtube.com/embed/IOK-KXSdruA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div id="video4">
      <h2>Indo Jazz Ensemble GYANI</h2>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe width="400" height="344" src="https://www.youtube.com/embed/U_qzw_T6Oq8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div id="video5">
      <h2>GYANI Indo Jazz ~ Raag Nat Bhairav</h2>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe width="400" height="344" src="https://www.youtube.com/embed/kllV97xs024" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div id="video6">
      <h2>Indo Jazz Fusion - 2 Gyani</h2>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe width="400" height="344" src="https://www.youtube.com/embed/Zn7q9ms7aBc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
     <div id="video7">
      <h2>Ram Bhakt Hanuman</h2>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe width="400" height="344" src="https://www.youtube.com/embed/Ee5vQM_DADQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
     <div id="video8">
      <h2>Rangin Basanta</h2>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe width="400" height="344" src="https://www.youtube.com/embed/LGyklMckFbI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
     <div id="video9">
      <h2>Music Direction by Pandit Binay Pathak</h2>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe width="400" height="344" src="https://www.youtube.com/embed/v8yx1Tt2oAA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="col-md-4 scrolling">
    <br><br><br>
    <table>
      <tr class="clickfirst">
        <td>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
          <img src="videopic1.jpeg" class="img-thumb">
        </div>
        </td>
        <td>
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8 clickfirst"">
            Raag Music to perform at a festival
        </div>
        </td>
      </tr>
      <tr class="clicksecond">
        <td>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 clicksecond">
          <img src="videopic2.jpeg" class="img-thumb">
        </div>
        </td>
        <td>
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
            Harmonium Solo, Pt.Binay Pathak
        </div>
        </td>
      </tr>
      <tr class="clickthird">
        <td>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 clickthird">
          <img src="videopic3.jpeg" class="img-thumb">
        </div>
        </td>
        <td>
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
            Binay Pathak at Chicago
        </div>
        </td>
      </tr>
       <tr class="clickfour">
        <td>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 clickthird">
          <img src="videopic4.jpg" class="img-thumb">
        </div>
        </td>
        <td>
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
           Indo Jazz Ensemble GYANI
        </div>
        </td>
      </tr>
       <tr class="clickfive">
        <td>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 clickthird">
          <img src="videopic5.jpg" class="img-thumb">
        </div>
        </td>
        <td>
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
            GYANI Indo Jazz ~ Raag Nat Bhairav
        </div>
        </td>
      </tr>
       <tr class="clicksix">
        <td>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 clickthird">
          <img src="videopic6.jpg" class="img-thumb">
        </div>
        </td>
        <td>
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
            Indo Jazz Fusion - 2 Gyani
        </div>
        </td>
      </tr>
       <tr class="clickseven">
        <td>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 clickthird">
          <img src="videopic7.jpg" class="img-thumb">
        </div>
        </td>
        <td>
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
           Ram Bhakt Hanuman
        </div>
        </td>
      </tr>
       <tr class="clickeight">
        <td>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 clickthird">
          <img src="videopic8.jpg" class="img-thumb">
        </div>
        </td>
        <td>
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
            Rangin Basanta
        </div>
        </td>
      </tr>
       <tr class="clicknine">
        <td>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 clickthird">
          <img src="videopic9.jpg" class="img-thumb">
        </div>
        </td>
        <td>
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
            Music Direction by Pandit Binay Pathak
        </div>
        </td>
      </tr>

  </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $("#video1").show();
  $("#video2").hide();
  $("#video3").hide();
  $("#video4").hide();
  $("#video5").hide();
  $("#video6").hide();
  $("#video7").hide();
  $("#video8").hide();
  $("#video9").hide();

});

  $(".clickfirst").click(function(){
    $("#video1").show();
    $("#video2").hide();
    $("#video3").hide();
    $("#video4").hide();
  $("#video5").hide();
  $("#video6").hide();
  $("#video7").hide();
  $("#video8").hide();
  $("#video9").hide();
  
      });
    $(".clicksecond").click(function(){
        $("#video1").hide();
    $("#video2").show();
    $("#video3").hide();
    $("#video4").hide();
  $("#video5").hide();
  $("#video6").hide();
  $("#video7").hide();
  $("#video8").hide();
  $("#video9").hide();
     });

  $(".clickthird").click(function(){
        $("#video1").hide();
    $("#video2").hide();
    $("#video3").show();
    $("#video4").hide();
  $("#video5").hide();
  $("#video6").hide();
  $("#video7").hide();
  $("#video8").hide();
  $("#video9").hide();
     });

    
  $(".clickfour").click(function(){
        $("#video1").hide();
    $("#video2").hide();
    $("#video3").hide();
    $("#video4").show();
  $("#video5").hide();
  $("#video6").hide();
  $("#video7").hide();
  $("#video8").hide();
  $("#video9").hide();
     });
    
  $(".clickfive").click(function(){
        $("#video1").hide();
    $("#video2").hide();
    $("#video3").hide();
    $("#video4").hide();
  $("#video5").show();
  $("#video6").hide();
  $("#video7").hide();
  $("#video8").hide();
  $("#video9").hide();
     });
    
  $(".clicksix").click(function(){
        $("#video1").hide();
    $("#video2").hide();
    $("#video3").hide();
    $("#video4").hide();
  $("#video5").hide();
  $("#video6").show();
  $("#video7").hide();
  $("#video8").hide();
  $("#video9").hide();
     });
    
  $(".clickseven").click(function(){
        $("#video1").hide();
    $("#video2").hide();
    $("#video3").hide();
    $("#video4").hide();
  $("#video5").hide();
  $("#video6").hide();
  $("#video7").show();
  $("#video8").hide();
  $("#video9").hide();
     });
    
  $(".clickeight").click(function(){
        $("#video1").hide();
    $("#video2").hide();
    $("#video3").hide();
    $("#video4").hide();
  $("#video5").hide();
  $("#video6").hide();
  $("#video7").hide();
  $("#video8").show();
  $("#video9").hide();
     });
    
  $(".clicknine").click(function(){
        $("#video1").hide();
    $("#video2").hide();
    $("#video3").hide();
    $("#video4").hide();
  $("#video5").hide();
  $("#video6").hide();
  $("#video7").hide();
  $("#video8").hide();
  $("#video9").show();
     });


</script>
</body>
</html>
